@model ShopVote.Models.RegisterModel
@{
    ViewBag.Title = “Add Administrators”;
}

<style>

  .min-input > input {
    width: 100px;
  }

</style>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Register A New Administrator</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Administrator Form</legend>
        <div>
          <div style="display: inline-block;">
            <div>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div>
                @Html.LabelFor(m =>m.ConfirmUserName)
                @Html.TextBoxFor(m=>m.ConfirmUserName)
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
          </div>
          <div style="display: inline-block; margin-left: 16px;">
            <div>
                @Html.LabelFor(m => m.StreetAddress1)
                @Html.TextBoxFor(m => m.StreetAddress1)
            </div>
            <div>
                @Html.LabelFor(m => m.StreetAddress2)
                @Html.TextBoxFor(m => m.StreetAddress2)
            </div>
            <div>
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City)
            </div>
            <div>
              <div class="min-input" style="display: inline-block;">
                  @Html.LabelFor(m => m.State)
                  @Html.TextBoxFor(m => m.State)
              </div>
              <div class="min-input" style="display: inline-block; margin-left: 8px;">
                  @Html.LabelFor(m => m.Zip)
                  @Html.TextBoxFor(m => m.Zip)
              </div>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
