@model IEnumerable<ShopVote.Models.FilterCategory>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    WebGrid grid = new WebGrid(Model);
}

<H2> Categories </h2>
<p>@Html.ActionLink("Create New","CategoryCreate")</p>
@grid.GetHtml(columns: new []{
    grid.Column("ID"),
    grid.Column("Namw"),
    grid.Column("",
                    header: "Actions",
                    format: @<Text>
                                @Html.ActionLink("Edit","CategoryEdit", new{id=item.ID})|
                                @Html.ActionLink("Detail","CategoryDetail", new{ id=item.ID})|
                                @Html.ActionLink("Edit","CategoryDelete", new{ id=item.ID})
                            </Text>
               ) 
})