@model IEnumerable<ShopVote.Models.Feedback>

@{
    ViewBag.Title = "Admin Page - Overview";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">@ViewBag.Title</h1>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Product</h4>
            <span class="text-muted">Some Description</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Category</h4>
            <span class="text-muted">Some Description</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Company</h4>
            <span class="text-muted">Some Description</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Question</h4>
            <span class="text-muted">Some Description</span>
        </div>
    </div>
    <h2 class="sub-header">Feedback</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Content</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modleItem => item.Id)</td>
                        <td>@Html.DisplayFor(modleItem => item.Content)</td>
                        <td>@Html.DisplayFor(modleItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modleItem => item.Email)</td>
                        <td>@Html.DisplayFor(modleItem => item.PhoneNumber)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
