@model ShopVote.Models.ProductFilter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ProductFilter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FilterCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FilterCategory.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Product.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
