<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ShopVote.US - @ViewBag.Title</title>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/jquery")
  <style>
    .menu-bar {
      background-color: #A2D7FF;
      width: 100%;
      margin: 0 auto;
      position: fixed;
      box-shadow: 0 0 8px;
      z-index: 1000;
    }

      .menu-bar > div {
        display: inline-block;
      }

      .menu-bar > a:hover {
        color: #192823;
      }

    .footer {
      background-color: #FFFFFF00;
      margin-top: 16px;
    }

      .footer > div {
        background-color: #F7E030;
        margin: 8px auto;
        max-width: 960px;
      }

        .footer > div > div {
          text-align: center;
          line-height: 24px;
          vertical-align: middle;
          font-size: 16px;
        }

    div.title {
      float: left;
      line-height: 75px;
      vertical-align: middle;
      margin-left: 8px;
      font-size: 28px;
      font-family: Satisfy, cursive;
    }

    .nav-menu {
      background-color: #7FF17F;
      position: fixed;
      margin-top: 16px;
      left: 0px;
      width: 175px;
    }

    div.form-group, div.checkbox {
      padding: 4px 0;
    }

      div.form-group > label, div.checkbox > label {
        font-size: 1em;
        margin-left: 4px;
      }

    div.nav-menu {
      border-collapse: collapse;
    }

      div.nav-menu > div {
        background-color: #7FF17F;
        padding: 16px 0;
        border-top: 1px solid #808080;
      }

        div.nav-menu > div:first-child {
          border-top: none;
        }

        div.nav-menu > div:hover {
          cursor: default;
          box-shadow: 2px 0 #808080;
        }

        div.nav-menu > div.active {
          background-color: #A2D7FF;
        }
      

  </style>
  <script type="text/javascript">

    $(function () {

      $('#loginLink').click(function () {

        if ($('#divLogin').is(":hidden")) {
          $('#divLogin').slideDown('fast', function () {
            $('#UserName').focus();
          });
        } else {
          $('#divLogin').slideUp('fast', function () { });
        }

      });

    });

  </script>
</head>
<body>
  <header>
    <div class="menu-bar">
      <a href="@Url.Action("index", "home")" style="background-color: #A2D7D8;">
        <div class="float-left">
          <div class="site-title">
            <img height="64" width="64" src="@Url.Content("~/Images/logo_grav2.png")" alt="ShopVote"
              style="margin-top: 5px; margin-left: 8px;" />
          </div>
        </div>
        <div class="title">
          ShopVote.US
        </div>
      </a>
      <div style="float: right; margin-top: 8px;">
        <section id="login">
          @Html.Partial("_LoginPartial")
        </section>
        <nav>
          <ul id="menu">
            <li style="font-size: 12px;">@Html.ActionLink("about", "about", "home")</li>
            <li style="font-size: 12px;">@Html.ActionLink("contact us", "contact", "home")</li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div id="divLogin" style="position: absolute; top: 76px; right: 0px; border: 1px solid black; border-top: none; border-right: none; background-color: #EDEDEA; display: none; z-index: 100;">
    @Html.Partial("_LoginDropDownPartial", new ShopVote.Models.LoginModel())
  </div>
  <div id="body" style="min-height: 750px; padding-top: 86px;">
    @if (Request.IsAuthenticated)
    {
      <div class="nav-menu">
        <div class="@(ViewContext.RouteData.Values["Controller"].Equals("questions") ? "active" : "")"
          style="text-align: center; width: 100%; line-height: 40px; vertical-align: middle;"
          onclick="javascript:document.location.href = /questions/;">
          Questions
        </div>
        <div class="@(ViewContext.RouteData.Values["Controller"].Equals("products") ? "active" : "")" 
          style="text-align: center; width: 100%; line-height: 40px; vertical-align: middle;"
          onclick="javascript:document.location.href = /products/;">
          Products
        </div>
           <div class="@(ViewContext.RouteData.Values["Controller"].Equals("shoppinglist") ? "active" : "")"
             style="text-align: center; width: 100%; line-height: 40px; vertical-align: middle;"
             onclick="javascript:document.location.href = /shoppinglist/;">
             Shopping Lists
        </div>
      </div>
      <div style="margin-left: 190px; margin-right: 16px;">
        <section class="content-wrapper main-content clear-fix">
          @RenderBody()
        </section>
        <div class="footer">
          <div>
            <div>&copy;ShopVote @DateTime.UtcNow.Year</div>
          </div>
        </div>
      </div>
    }
    else
    {
      <section class="content-wrapper main-content clear-fix">
        @RenderBody()
      </section>
      <div class="footer">
        <div>
          <div>&copy;ShopVote @DateTime.UtcNow.Year</div>
        </div>
      </div>
    }
  </div>
  @RenderSection("scripts", required: false)
</body>
</html>
