@model ShopVote.Models.LoginModel
@{
  ViewBag.Title = "_LoginDropDownPartial";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)
  <div>
    <div class="form-group">
      @Html.LabelFor(m => m.UserName)
      @Html.TextBoxFor(m => m.UserName)
      @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.Password)
      @Html.PasswordFor(m => m.Password)
      @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="checkbox">
      @Html.CheckBoxFor(m => m.RememberMe)
      @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
    </div>
    <div style="margin: 4px 0; text-align: center;">
      <input title="login" type="submit" value="login" />
    </div>
  </div>
}