@model IEnumerable<ShopVote.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="table-responsive">
      @{ var grid = new WebGrid(Model, rowsPerPage: 100); }
      @grid.GetHtml(
        tableStyle: "table table-striped",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
          grid.Column("ID", 
            format: @<text> 
                      <span class="display-mode"> <label>@item.ID</label> </span>
                     
                    </text>
          ),
          grid.Column("Manufacturer",
            format: @<text> 
                      <span class="display-mode"> <label id="lblManufacturer">@item.Manufacturer.Name</label> </span>
                   
                    </text>
          ),
          grid.Column("Name",
            format: @<text> 
                      <span class="display-mode"> <label id="lblName">@item.Name</label> </span>
                      
                    </text>
          ),
          grid.Column("Score",
            format: @<text> 
                      <span class="display-mode"> <label id="lblDescription">@item.Description</label> </span>
                      
                    </text>
          ))
        )
       
    </div>
