@model ShopVote.Models.ShoppingList
@{
    ViewBag.Title = "Shopping List Index";
}

<h2>Index</h2>

 <div>
     @using (Html.BeginForm())
     {
          @Html.AntiForgeryToken()
          @Html.ValidationSummary(true)
         
       <fieldset>
           <legend>Shopping List</legend>
         <div class="editor-label">
          @Html.LabelFor(c => c.ListName, "Shopping List Name")
          @Html.EditorFor(c => c.ListName)
         
        </div>
         <div class="editor-label">
          @Html.LabelFor(c => c.UserId, "User ID")
          @Html.EditorFor(c => c.UserId)
        </div>
     <p>
            <input type="submit" value="Create" />
        </p>
           </fieldset>
     }
     <div>
    @Html.ActionLink("View Lists", "Display")
</div>
            </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}